<div class="row">
  <div class="col-xs-12">

    <button class="btn btn-success pull-left" (click)="onNewPost()">New Post</button>
    <button class="btn btn-success pull-right" (click)="onClickback()">Back</button>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12" *ngIf="postSelected; then ItemPost; else ListPost">
  </div>
</div>
<BR>
  <BR>
    <BR>
<div class="panel panel-info">
    <div class="panel-heading"> <h3 class="panel-title">100 Continue</h3></div>
    <div class="panel-body"><p class='block-with-text'>The client should continue with its request.The client should continue with its request.
      The client should continue with its request.The client should continue with its request.The client should continue with its request.
        The client should continue with its request.The client should continue with its request.The client should continue with its request.
        The client should continue with its request.The client should continue with its request.The client should continue with its request.
        The client should continue with its request.The client should continue with its request.The client should continue with its request.
        The client should continue with its request.The client should continue with its request.The client should continue with its request.
        The client should continue with its request.The client should continue with its request.
        The client should continue with its request.The client should continue with its request.The client should continue with its request.
          The client should continue with its request.The client should continue with its request.The client should continue with its request.
          The client should continue with its request.The client should continue with its request.The client should continue with its request.
          The client should continue with its request.The client should continue with its request.The client should continue with its request.
          The client should continue with its request.The client should continue with its request.The client should continue with its request</p>
    </div>
    <div class="panel-footer">
        <div class="pull-right">
            <small><a href="#" id="readMore">Show Less</a></small>
        </div>
    </div>
</div>



<ng-template #ListPost>
  <app-post-item
      *ngFor="let postsElm of posts; let i = index"
      [post]="postsElm"
      [index]="i"></app-post-item>
</ng-template>

<ng-template #ItemPost>
  <router-outlet></router-outlet>
</ng-template>

