<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="postFormGroup" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
		<button type="submit" class="btn btn-success"  [disabled]="!postFormGroup.valid">Save</button>
		<button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
		<div class="form-group">
		<label for="title">Title</label>
		<input  type="text" id="title"   formControlName="title"   class="form-control">
		</div>
	  </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
		<div class="form-group">
		<label for="desc">Description</label>
		<textarea type="text" id="desc"class="form-control" formControlName="desc"  rows="11"></textarea>
		</div>
          </div>
        </div>
      </form>
    </div>
  </div>  
  