
<div class="row">
  <div class="col-xs-12">
    <h1>><div [innerHTML]=" post.title "></div></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Post <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Post</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Post</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div [innerHTML]="post.desc">
  </div>
</div>

